header {
    background-color: #5400a3;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-imagem{

    width: 20%;

}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 32px;
}

*{
    margin: 0;
    padding: 0;
}
